.*

*.pyc
*.log

config.json
credentials.json
token.json

_pycache_/

photos_full/*
!photos_full/.gitkeep
photos_thumb/*
!photos_thumb/.gitkeep
photos_overlayed/*
!photos_overlayed/.gitkeep

web_viewers/*/js/gallery-scripts.js