.*

*.pyc
*.log
*.json

_pycache_/

!json/*_example*
json/.*

photos_full/*
!photos_full/.gitkeep

photos_thumb/*
!photos_thumb/.gitkeep

photos_overlayed/*
!photos_overlayed/.gitkeep

resources/_*

web_viewers/*/js/gallery-scripts.js